@using TestMVC.Dtos;
@model DataModel<UserDto>
@{
    ViewData["Title"] = "Users Page";
}
<div class="text-center">
    <h1 class="display-4">Users</h1>
    <div>
        <button class="addButton" role="button" onclick="create(0);">+ User</button>
    </div>
    @if (Model.Data != null)
    {
        <table id="userTable" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Data)
                {
                    <tr class="alntxtleft">
                        <td>@user.Id</td>
                        <td>@user.LastName</td>
                        <td>@user.FirstName</td>
                        <td>
                            <a href="@Url.Action("Index", "Events", new {userId = user.Id })" title="Events"><i class="material-icons">work_history</i></a>
                            <a href="@Url.Action("User", "Users", new {id = user.Id })" title="Edit"><i class="material-icons">edit</i></a>
                            <a href="@Url.Action("Delete", "Users", new {id = user.Id })" title="Delete"><i class="material-icons">delete</i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Users Found</p>
    }
</div>

<script>
    $(document).ready(function () {
        var table = $('#userTable').DataTable(
            {
                "lengthChange": false,
                "paging": false,
                "searching": false,
                "info": false,
                "scrollx": false
            });
        
    });
    function create(id) {
        var url = '@Url.Action("User", "Users", new {id = "_id" })';
        var urlWithId = url.replace('_id', id);
        window.location.href = urlWithId;
    }
</script>
