@using TestMVC.Dtos;
@model EventsModel;
@{
    ViewData["Title"] = "Events Page";
}
<div class="text-center">
    <h1 class="display-4">Events</h1>
    <div class="flex-container">
        <div class="flex-child">
            <a asp-action="index" asp-controller="users" class="alnleft">&lt;&lt; Users</a>
        </div>
        <div class="flex-child">
            <button class="addButton" role="button" onclick="create();">+ Event</button>
        </div>
    </div>
    @if (Model.Data != null)
    {
        <table id="dataTable" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Location</th>
                    <th>Start</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.Data)
                {
                    <tr class="alntxtleft">
                        <td>@data.Id</td>
                        <td>@data.Title</td>
                        <td>@data.Location</td>
                        <td>@data.Start.ToString("d")</td>
                        <td>
                            <a href="@Url.Action("Event", "Events", new { id = data.Id, userId = data.UserId })" title="Edit"><i class="material-icons">edit</i></a>
                            <a href="@Url.Action("Delete", "Events", new { id = data.Id, userId = data.UserId })" title="Delete"><i class="material-icons">delete</i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Events Found</p>
    }
</div>

<script>
    $(document).ready(function () {
        var table = $('#dataTable').DataTable(
            {
                "lengthChange": false,
                "paging": false,
                "searching": false,
                "info": false,
                "scrollx": false
            });
    });
    function create() {
        var url = '@Url.Action("Event", "Events", new {id = 0, userId = Model.UserId })';
        window.location.href = url;
    }
</script>
